body{
color:white;
background-color:#0066cc;

}

p, h4{
  font-family:'Signika',Arial, sans-serif;
  
}

header{
    text-align: center;
    font-family:'Bevan', Arial, sans-serif;
}

#lyrics{
    text-align: left;
   padding-left: 20px;
}

ul {
  list-style-position: inside;
  text-align: center;
  margin: 0 auto;
}

figure{  
     position: absolute;
        right: 10%;
        top: 50%;
      
    }
    
    img{

        width: 100%;
          max-width: 900px;
          border-radius: 10%;
       
    }

    figcaption{
        position: absolute;
        right: 34%;
        bottom: 102%;
    }

    hr{
      color:white;
      height: 10px;
      /* background-color: white; */
      background-image: url(seamless-background-with-blue-sky-white-cartoon-clouds-vector-illustration_515038-1945.jpg);
    }
    
    #album-div{
      background-image: url(seamless-background-with-blue-sky-white-cartoon-clouds-vector-illustration_515038-1945.jpg);
    }

    