body{
    color:white;
    background-color:#0066cc;
}

header{
    text-align: center;
}

p, ul, h3, h4{
    font-family:'Signika',Arial, sans-serif;
    text-align: center;
    /* flex-flow: column wrap; */
}

h1, h2{
    font-family:'Oooh Baby', Arial, sans-serif;
    
}
h1{
    font-size:60px;
}
h2{
    font-size:40px;
}



#lyrics{
    text-align: left;
    padding-left: 20px;
}

ul {
    list-style-position: inside;
    text-align: center;
    margin: 0 auto;
}

#band{
    width: 100%;
    max-width: 700px;
    border-radius: 10%;
    position: absolute;
    left: 5%;
    top:85%;

}
    
    #albumCover{

      width: 100%;
      max-width: 600px;
      border-radius: 10%;
      position: absolute;
      right: 5%;
      top:80%;
      
       
    }

    figcaption{
      position: absolute;
      right: 13%;
      bottom:21%;
      
    }

    hr{
      color:white;
      height: 10px;
      /* background-color: white; */
      background-image: url(seamless-background-with-blue-sky-white-cartoon-clouds-vector-illustration_515038-1945.jpg);
    }
   footer p{
    text-align: left;
   }

    